.header {
    color: white;
    height: 100px;
}

.content {
    background-color: white;
    border-radius: 24px;
    margin: 24px;
    padding: 24px;
}

.loggedInSurvivor {
    text-align: right;
    padding: 16px 0;
    vertical-align: bottom; 
}

.loggedInSurvivor > * {
    margin-left: 16px;
}
