.header {
    color: white;
    height: 100px;
}

.content {
    background-color: white;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}

.loggedInSurvivor {
    text-align: right;
    padding: 16px 0;
}

.loggedInSurvivor > * {
    margin-left: 16px;
}

.loggedInSurvivorName {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 32px;
    font-size: 16px;
    max-width: 225px;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .menuButton {
        font-size: 20px;
    }

    .title {
        display: none;
    }

    .loggedInSurvivor {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .loggedInSurvivorName {
        line-height: 40px;
    }
}